In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import pandas as pd
import numpy as np
from pandas import DataFrame

In [37]:
data = pd.read_csv('train_data.csv')
target = pd.DataFrame(data, columns=['E'])
features = data.drop(['E'],axis=1)
data.describe()

                 T            V            P           RH            E
count  2000.000000  2000.000000  2000.000000  2000.000000  2000.000000
mean    256.010820   325.217580    92.111935    44.169640  1817.052860
std      95.188288    76.288073     0.539140     8.773132    66.594563
min      47.190000   152.160000    90.260000    15.530000  1700.560000
25%     175.695000   250.680000    91.730000    37.997500  1758.960000
50%     266.565000   307.800000    92.080000    45.160000  1808.400000
75%     334.880000   398.700000    92.482500    51.152500  1871.620000
max     455.390000   481.080000    93.890000    60.090000  1976.960000

In [127]:
T_IDX=0
V_IDX=1
P_IDX=2
RH_IDX=3

machines_stats = features.mean().values.reshape(1, 4)

In [128]:
features.mean().values.reshape(1, 4)

array([[256.01082 , 325.21758 ,  92.111935,  44.16964 ]])

In [129]:
regr = LinearRegression().fit(features, target)
fitted_vals = regr.predict(features)

MSE = mean_squared_error(target, fitted_vals)
RMSE = np.sqrt(MSE)

In [130]:
def get_estimate(Tem, Vac, Pre, Hum):
    
    machines_stats[0][T_IDX] = Tem
    machines_stats[0][V_IDX] = Vac
    machines_stats[0][P_IDX] = Pre
    machines_stats[0][RH_IDX] = Hum
    
    energy_estimate = regr.predict(machines_stats)[0][0]
    
    return energy_estimate

In [131]:
print(get_estimate(236.34,406.26,91.32,52.36))
print(get_estimate(237.51,308.58,91.85,53.03))

1805.4939745930217
1821.132879740723

In [132]:
test_data = pd.read_csv("test_data.csv")
test_data.describe()

                T           V           P          RH
count  200.000000  200.000000  200.000000  200.000000
mean   246.667200  317.414100   92.132400   45.248300
std     95.121336   69.646473    0.507488    8.774522
min     64.610000  214.740000   90.940000   20.900000
25%    168.512500  249.720000   91.825000   38.695000
50%    248.690000  307.470000   92.090000   46.865000
75%    319.410000  379.260000   92.430000   52.165000
max    443.430000  468.300000   93.680000   60.070000

In [133]:
ar1 = DataFrame(test_data,columns=['T'])
ar2 = DataFrame(test_data,columns=['V'])
ar3 = DataFrame(test_data,columns=['P'])
ar4 = DataFrame(test_data,columns=['RH'])

In [134]:
ar1 = ar1.to_numpy()
ar2=ar2.to_numpy()
ar3=ar3.to_numpy()
ar4=ar4.to_numpy()

In [135]:
type(ar1)

numpy.ndarray

In [136]:
print(ar1[0][0])
print(ar1[1][0])
print(ar1[2][0])

236.34
237.51
123.89

In [140]:
empty_list = []

for i in range(0,200):
    
    a1=ar1[i][0]
    a2=ar2[i][0]
    a3=ar3[i][0]
    a4=ar4[i][0]
    var = get_estimate(a1,a2,a3,a4)
    empty_list.append(var)
print(empty_list)

[1805.4939745930217, 1821.132879740723, 1894.8414822484501, 1903.074165483309, 1800.5621184733743, 1789.4263890832553, 1723.2682425056812, 1801.1370805630997, 1723.6825877209028, 1795.8298786142498, 1794.4410047490016, 1865.8307611489286, 1919.1611575795923, 1904.6463133316333, 1928.5732168912843, 1818.560445366052, 1773.2798243258371, 1771.0993757444774, 1863.7079384140413, 1782.9784295977468, 1734.0596734907708, 1782.474513100941, 1770.5206260104928, 1772.3326940608215, 1820.1398106289785, 1771.851716985861, 1866.9508781278382, 1804.220331083174, 1876.8987408132339, 1716.4826120825871, 1907.498197918466, 1825.4101275273638, 1769.1915275096483, 1765.651736532542, 1767.2513038224229, 1818.5195238843644, 1806.0266863045106, 1886.7964194363672, 1874.1121089118155, 1874.168009627934, 1770.7075604809509, 1784.6637636501666, 1883.726870475057, 1796.889307716505, 1789.9038183607688, 1764.6641967416338, 1724.4679943963513, 1777.6265284332117, 1779.9605170631526, 1789.9934625841443, 1914.5911810137586, 1888.4690599139765, 1892.4585805805198, 1862.3183552304881, 1782.2118422170531, 1755.8983601488744, 1930.1712542910627, 1842.885754983789, 1879.9517756002592, 1715.7234339705442, 1853.4171587774772, 1790.5307194741542, 1791.5504107275713, 1895.2499009914252, 1853.9280673270873, 1840.9427758920897, 1878.0402936884652, 1774.2220711713824, 1762.6237446956545, 1783.2932575088366, 1868.6471519308948, 1734.491914847331, 1859.083900521242, 1823.9703808350605, 1856.8896098352889, 1751.043737698494, 1782.5809886942125, 1805.9096240885738, 1933.2316163895212, 1870.0269029311182, 1932.9941314131775, 1752.6542940298484, 1806.922727246953, 1921.9705767038924, 1783.9049642066873, 1874.0648112074407, 1750.937586970649, 1849.9009041108475, 1817.2045064839424, 1848.404451842271, 1782.129781069657, 1778.9390338545677, 1904.0808075350214, 1783.8341887987465, 1877.8942186605316, 1871.0969287004395, 1898.764884689092, 1816.0635788364443, 1883.075989109669, 1869.5018369737868, 1732.728540430527, 1809.4164860724018, 1787.9438787695944, 1827.8617776315355, 1777.8513182877455, 1776.06811208392, 1866.5184785870456, 1772.6075666304607, 1874.726833778023, 1905.7977115703989, 1924.3722281154273, 1760.1258120328737, 1718.4802357684605, 1729.2536781130489, 1917.2915471732535, 1753.6258650694162, 1887.5046642100522, 1834.0400804811964, 1894.0274156184266, 1720.059592408998, 1904.316621756156, 1901.574563206977, 1865.0954452736332, 1804.3331073420386, 1884.3725212834447, 1882.843292397386, 1807.4739108080112, 1867.2061335985952, 1843.4085330286553, 1736.5295057170424, 1797.0830177874848, 1751.5859338036612, 1807.9992560128844, 1873.280168233752, 1725.2761522915682, 1752.169913320064, 1835.9048254069876, 1765.0891933586258, 1869.84825534018, 1850.8038937841154, 1885.0142752832253, 1891.0629546167625, 1880.59582103149, 1811.8875970624254, 1761.2124603474208, 1855.1440816107684, 1702.1591764010172, 1782.6591680483825, 1908.6419188039222, 1758.8498048370352, 1733.8188310666828, 1812.3992601191117, 1840.5444798099215, 1706.0925146175582, 1819.6546075457031, 1870.6268368250594, 1852.5762965043775, 1913.6322622648784, 1765.9489872525874, 1932.1282590854264, 1811.111923606722, 1884.7999336836378, 1782.3037168088742, 1886.0398244133362, 1756.2633705112992, 1877.7214251914663, 1866.2536246514137, 1811.69488563089, 1921.8694601376292, 1813.1366648635155, 1810.906427484961, 1797.0258779590963, 1729.5664107011198, 1865.5396152172023, 1721.4419555981508, 1899.3892853081488, 1781.0659011228538, 1778.7985619379535, 1717.6499336116954, 1927.8597335829888, 1927.13681244909, 1853.792890776731, 1777.875591547741, 1828.855620814586, 1801.1999921433983, 1856.9497339592858, 1733.4318879658442, 1732.945495887879, 1877.2562217278103, 1815.708591621439, 1780.10428714451, 1922.0609125623712, 1887.8831903569353, 1878.1790148058346, 1901.23733339025, 1749.023400611719, 1723.5541934656424, 1911.8478486800063, 1734.0210411255773, 1819.1016973558928]

[1817.0528599999996]

[1817.0528599999996]